.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.error_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_p {
  font-size: 5rem;
}

.error_back_to_main {
  display: table;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
}